.carousel__container {
    background: #f1f1f1;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 20rem;
    width: 100%;

    .carousel__item {
        height: 20rem;
        min-width: 100%;
        width: 100%;

        transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);

        .poster__image {
            width: 100%;

            img {
                margin: auto;
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .poster__overlay {
            position: absolute;
            padding: 2rem;
            left: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-wrap: wrap;
            background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
            opacity: 1;
            transition: opacity .3s;

            .poster__title {
                font-weight: 900;
                font-size: 2rem;
                margin-bottom: 0.4rem;
                text-align: left;
            }

            .poster__runtime {
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 1rem;
                margin-bottom: 1rem;
            }

            .poster__rating {
                display: flex;
                align-items: center;
                justify-content: center;

                margin-left: 3rem;
                gap: 0.2rem;
            }

            &:hover {
                opacity: 1;
            }

        }
    }
}